<div class="container">
  <mat-card class="example-card">
    <div matTooltip="Click to more" routerLink="/Component/detail/{{ pet.id }}">
      <mat-card-header>
        <mat-card-title>{{ pet.breed }}</mat-card-title>
        <mat-card-subtitle>Type: {{ pet.type }}</mat-card-subtitle>
      </mat-card-header>
      <img class="img" mat-card-image src="{{ pet.img }}" alt="Photo of a {{ pet.breed }}" />
      <mat-card-content> </mat-card-content>
    </div>
    <mat-card-actions class="card-actions">
        <mat-icon [ngClass]="{'favicon': !pet.favorite, 'favicon-red': pet.favorite}" matTooltip="Favorite" (click)="toggleFavorite(pet)">{{ pet.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
    </mat-card-actions>
        
  </mat-card>
</div>