   .example-card {
    max-width: 260px;
    transition: transform 0.3s ease-in-out;
  }
  .example-card:hover {
    transform: translateY(-10px);
  }
  .container{
    margin: 40px 35px;
    display: inline-block;
  }
 .mat-icon{
  margin: auto;
  color: rgba(0, 0, 0, 0.449);
 }
 .favicon:hover{
  color: rgb(243, 0, 0);
 }
 .more:hover{
  color: rgb(0, 0, 0);
 }
 .img{
  padding: 0 10px;
  width: 260px;
  height: 240px;
 }
 .example-tooltip-uppercase{
  text-transform: uppercase;
 }
 .mat-mdc-card-header {
  height: 89px;
}

.favicon-red {
  color: red; /* Màu đỏ */
}

  