<app-login *ngIf="!isLoggedIn"></app-login>
<div *ngIf="isLoggedIn">
<mat-toolbar color="warn"  class="nav-height">
  <mat-toolbar-row>
    <span class="container">
      <button mat-icon-button (click)="openLeftSide()">
        <mat-icon>menu</mat-icon>
      </button>
      <h2>Tên website</h2>
    </span>
    <span>
      <a 
      mat-button
      [routerLink]="['/Component/list-pets']"
      [routerLinkActive]="'active-link'"
    >
      <mat-icon mat-list-icon>home</mat-icon>Home
    </a>
    </span>
    <span class="search">
      <mat-form-field class="example-form-field">
        <mat-label>Search</mat-label>
        <input matInput type="text" [(ngModel)]="value">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Search" (click)="input()">
          <mat-icon style="color: black;">search</mat-icon>
        </button>
      </mat-form-field>
    </span>
    <span class="menu-spacer" style="width: 75%"></span>
    <div>
      <a
        mat-button
        [routerLink]="['/user/login']"
        [routerLinkActive]="'active-link'"
      >
        <mat-icon>login</mat-icon>Login
      </a>
    </div>

    <button matTooltip="More"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>LogOut</span>
      </button>
    </mat-menu>



  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav (closed)="closeLeftSide()">
    <mat-nav-list style="width: 6cm;">
      <a 
        mat-list-item [routerLink]="['Component/list-pets']">
        <mat-icon style="color: #626d71;" matListItemIcon>home</mat-icon>Home
      </a>
      <a
        mat-list-item
        [routerLink]="['Component/create-pets']"
        (click)="sidenav.toggle()"
      >
        <mat-icon style="color: #626d71;" matListItemIcon>add</mat-icon>Add a new pet
      </a>
      <a
        mat-list-item
        [routerLink]="['Component/table-pets']"
        (click)="sidenav.toggle()"
      >
        <mat-icon style="color: #626d71;" matListItemIcon>table</mat-icon>Pet table
      </a>

      <a
        mat-list-item
        [routerLink]="['Component/login']"
        (click)="sidenav.toggle()"
      >
        <mat-icon style="color: #626d71;" matListItemIcon>login</mat-icon>login
      </a>

      <a
        mat-list-item
        [routerLink]="['Component/favorite-pets']"
        (click)="sidenav.toggle()"
      >
        <mat-icon style="color: #626d71;" matListItemIcon>backup</mat-icon>Get data
      </a>
      <a mat-list-item (click)="sidenav.toggle()" mat-list-item>
        <mat-icon style="color: red;" matListItemIcon>close</mat-icon> Close
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      style="
        height: 90vh;
        margin-top: 20px;
        margin-right: 10px;
        margin-left: 10px;
      "
      [ngClass]="{
        'content-move-left': !isOpened,
        'content-move-right': isOpened
      }"
    >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>