.login-card {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-title {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .login-button-wrapper {
    display: flex;
    justify-content: center;
  }

  
  .register-link {
    text-align: center;
    margin-top: 20px;
    color: #888;
  }
  
  .register-link a {
    color: #ff6f00;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  .back{
    padding: 10px;
    width: 15px;
  }
  .back :hover{
    background-color: #33333361;
    border-radius: 50%;
    color: #f8f8f8;
  }