<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title class="login-title">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="login-form">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password" required>
      </mat-form-field>
      <mat-checkbox style="text-align: end;">Remember Me</mat-checkbox> <!-- Thêm checkbox -->
      <div class="login-button-wrapper">
        <button mat-raised-button color="primary" class="login-button" (click)="login()">Login</button>
      </div>
    </form>
    <div class="register-link">
      Don't have an account? <a href="register">Register here</a>
    </div>
    
  </mat-card-content>
</mat-card>
